body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;	

}
.lista {
	height: 700px;
	overflow: auto;
	border: 3px solid #DE096F;
}

.lista__tarea {
	width: 100px;
	height: 35px;
	padding: 0.5rem;
	border-radius: 50px;
	box-sizing: border-box;
	margin: 0.5rem;
}

.lista__tarea:hover {
	background-color:#5B888F;
}


.lista__tarea--terminada {
	border: 3px solid #DE096F;
	text-decoration: line-through;
}

.lista__tarea--pendiente {
	border: 3px solid #DEC91F;
}
